{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "always",
    "singleQuote": true,
    "parser": "flow",
    "trailingComma": "es5",
    "jsxBracketSameLine": false
}
