$gray-300: #E5E5E5;
$gray-400: #768AA3;

$blue-200: #3b81c2;
$blue-290: rgba(#4b8ddf, 0.8);
$blue-300: #4b8ddf;
$blue-500: #1b3c66;

$yellow-400: #d6d015;

$oragne-400: linear-gradient(270deg, #FECF4E 0%, #FFC422 100%), linear-gradient(0deg, #FFC422, #FFC422), #FFCE38;
